html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  color: black;
  display: grid;
  font-size: 2.4rem;
  font-weight: bold;
  min-height: 100vh;
  /* mobile first - single column */
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto 70px;
  grid-template-areas: 
    "header"
    "content"
    "footer"
}

header {
  grid-area: header;
  background-color: rgb(43, 189, 226);
  border-style: solid;
  border-radius: 1rem;
  border-width: .3rem;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

footer {
  color: #3a001e;
  grid-area: footer;
}


main {
  grid-area: content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

header,
footer,
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-clock {
  background-color: aquamarine;
  border-style: solid;
  border-radius: 1rem;
  border-width: .3rem;
  margin: .7rem;
  width: fit-content;
  text-align: center;
  padding: 1rem;
}
#main-content {
  border-style: solid;
  border-radius: 3%;
  border-width: .3rem;
  width: 70%;
  height: 100%;
  display: grid;


}
#score-board {
  background-color: chartreuse;
  border-style: solid;
  border-radius: 1rem;
  border-width: .3rem;
  margin: .7rem;
  width: 10%;
  text-align: center;
  font-size: 40px;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-area {
  text-align: center;
  height: 30%;
  margin: .5rem;
  padding-top: 1rem;
}

#choice-area {
  color: black;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip-reset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: .3rem;
  border-top-color: black;
  border-top-style: solid;
}

.btn {
  margin: .5rem;
  border-color: black;
  border-style: solid;
  border-radius: .6rem;
  border-width: .2rem;
  font-weight: bold;

}

.btn:hover {
  background-color: aliceblue;
  color: black;
}
.btn-md {
  border-color: black;
  border-style: solid;
  border-radius: .6rem;
  border-width: .2rem;
  background-color: rgb(43, 189, 226);
}
.btn-md:hover {
  background-color: aliceblue;
  color: black;
}

.msg {
  text-align: center;
}

img {
  border-radius: 1rem;
}